doctype html
html
  head
    title= title
  body
    h1 Robot Auto Test Result
    p   
    //    div
            svg(xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 32 32")
                circle(class="circle" r="16" cx="16" cy="16" stroke="yellowgreen" stroke-width="32" stroke-dasharray="#{passed} 100" fill="red")
    div(class="one")
        -for(var i = data.length-1; i >=parseInt(data.length/2); i--)
            li   
                a(href="http://127.0.0.1:8083/logfile?filename=" + data[i]["log"]) #{data[i]["log"]}
                span= " Total: " + data[i]["total"]
                span(class="pass")= " Passed: " + data[i]["passed"]
                span(class="fail")= " Failed: " + data[i]["failed"]
    div(class="two")
        -for(var i = parseInt(data.length/2)-1; i >= 0; i--)
            li   
                a(href="http://127.0.0.1:8083/logfile?filename=" + data[i]["log"]) #{data[i]["log"]}
                span= "Total: " + data[i]["total"]
                span(class="pass")= " Passed: " + data[i]["passed"]
                span(class="fail")= " Failed: " + data[i]["failed"]

            
style.
    h1{
        text-shadow: 5px 5px 5px grey;
    }
    svg {
    border-radius: 50%;
    width:200px;
    height:200px;
    }
    div.one{
        float:left;
        width:600px;
        padding:10px;
    }
    div.two{
        float:left;
        width:600px;
        padding:10px;
    }
    span.pass{
        color:green;
    }
    span.fail{
        color:red;
    }
